
* {
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
}


#header-nav {
 background-color: #bfbfbf;
 border-radius: 0;
 border: 10px;
 font-size: 36px;
 font-style: sans-serif;
}

#trademark {
color: black;
}

.navbar-header a:hover, .navbar-header a:focus {
  text-decoration: none;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
 border: 2px solid black;
}

#chicken-tab {
  margin-bottom: 10px;
  margin-top: 10px;
}

#beef-tab {
 margin-bottom: 10px;
 margin-top: 10px;
}

#sushi-tab {
  margin-bottom: 10px;
  margin-top: 10px;
}

#nav-list {
 color: white;
}

.navbar-header button.navbar-toggle {
 clear: both;
 margin-top: -30px;
}

.item {
  color: black;
  font-size: 1.2em;
}

#text-center {
  background-color: white;

}

#chicken {
 border: 1px solid black;
 width: 30%;
 margin-top: 0;
 margin-bottom: 0;
 margin-left: 70%;
 text-align: center;
 padding: 5x;
 background-color: #FFFF00;
 font-family: sans-serif;
 font-weight: bold;
 font-size: 125%;


}

/*#collapsable-nav{
 background-color: white;


}*/