body {
  background-color: #ffffff;
}


#header-nav {
 background-color: #bfbfbf;
 border-radius: 0;
 border: 10px;
 font-size: 36px;
 font-style: sans-serif;
}

#trademark {
color: black;
}

.navbar-header a:hover, .navbar-header a:focus {
  text-decoration: none;
}